.toys-page {
  margin: 0 auto;
  background: url("/src/assets/bg.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  min-height: calc(100vh - 100px);
}

.toys-page-wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
