.tree {
  position: relative;
  display: flex; 
  width: 100%;
  min-width: 488px;
  background:  url("/src/assets/bg/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: calc(100vh - 100px);  
  overflow: hidden;
}
.snow-block {
  position: absolute;
  width: inherit;
  height: inherit;
}
.snow-item {
	color: #fff;
	position: absolute;
	top: -20px;
	animation: fall linear forwards;
}

@keyframes fall {
	to {
		transform: translateY(105vh);
	}
}
.lights-block {
  position: absolute;
}

.tree-map {
  position: absolute;
}
.tree-img {
 width: auto;
 height: 100%;
  
}